html {
        scroll-snap-type: proximity;
        scroll-snap-points-y: repeat(80vh);
        scroll-snap-type: y proximity;
        scroll-behavior: smooth;
    }
* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Futura', sans-serif;
    }
body {
    margin: 0;
    background: url("../img/background.png");
    height: calc(190vh + 800px) !important;
}
section {
      display: flex;
      align-items: center;
      padding: 12vh 8%;
      gap: 6rem;
      height: 90vh;
      flex-direction: row-reverse;
      margin-left:-10%;
      scroll-snap-align: center;
    }
  #descriere {
          justify-content: space-between;
  }
    .descriere-about-me {
        border-radius: 3rem;
        overflow: hidden;
        width:50%
    }

    .descriere-about-me h2 {
      color:#F7EFE8;
      padding: 1rem 5rem;
      font-size: 2rem;
    }
    .descriere-about-me p {
      padding: 10px 5rem;
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 2;
      color:#F7EFE8;
    }

    .descriere-about-me_image {
      flex: 1;
    }
    .descriere-about-me_image img {
      width: 100%;
      border-radius: 1rem;
    }

     @media (max-width: 768px) {
      section {
        flex-direction: column;
        text-align: center;
      }

      section:nth-child(even) {
        flex-direction: column;
      }

      .descriere-about-me_image, .descriere-about-me {
        width: 100%;
      }
    }


#logo {
  z-index: 1000;
  position: absolute;
  width: 70vh;
  height: 70vh;
  left: 7%;
  top: 12%;
  transition: all 0.5s ease;
}

#logo.scrolled {
  position: fixed;
  left: 50%;
  top: -55px;
  height: 150px;
  width: 150px;
  transform: translateX(-50%);
}
/* După animație, adaugă această clasă din JavaScript */

