@media (max-width: 768px) {
  html {
  scroll-snap-type: none;
  scroll-behavior: smooth;
  overflow-x:hidden;
  /* `scroll-snap-points-y` is deprecated, remove it */
  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura', sans-serif;
}
body {
  margin: 0;
  overflow-y:visible;
  background-size: cover;
  min-height: 100vh;
}
#wrapper {
  overflow-x: hidden;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12vh 8%;
  gap: 3rem;
  height: 80vh;
  flex-direction: row-reverse;
  scroll-snap-align: none;
  margin-left: 0; /* Remove negative margin on mobile */
}
#despre {
  scroll-snap-align: start;
}
#descriere {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.title_description {
  display:none;
}

.descriere-about-me {
  align-items:center;
  border-radius: 2rem;
  overflow: hidden;
  width: 50%;
  min-width: 300px;
  margin-right:0;
}

#logo {
  position: absolute;
  width: 80vw;
  top: 4%;
  left:0;
  right:0;
  margin-top:5px;
  margin:auto;
  text-align: center;
  bottom:auto;
}

#logo.scrolled {
  position: absolute;
  width: 80vw;
  margin-top:5px;
  margin:auto;
  left:0;
  right:0;
  top: 4%;
  transform: none;
  text-align: center;
}
.section-title {
  padding-top:10%;
  width:90vw;
  font-weight: 700;
  font-size: 1.7rem;
}

}
