html {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        margin-top:-20px;
    }
* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Futura', sans-serif;
    }
body {
  min-height: 100vh;
    margin: 0;
    background: black;
}
section {
      display: flex;
      align-items: center;
      padding: 12vh 8%;
      gap: 6rem;
      margin-bottom:10%;
      height: 100vh;
      flex-direction: row-reverse;
      margin-left:-10%;
      scroll-snap-align: center;
    }
    #despre {
      scroll-snap-align:start;
    }
  #descriere {

    justify-content: center;
  }
    .descriere-about-me {
        border-radius: 3rem;
        overflow: hidden;
        width:55%;
        margin-right: 2%;
    }

.title_description {
  z-index: 810;
  color:white;
  position: absolute;
  top:16%;
  left:7%;
  bottom:auto;
  font-weight: 300;
  letter-spacing: 2px;
}

#logo {
  z-index: 810;
  position: fixed;
  width: 28vw;
  left: 5%;
  top: 30%;
  bottom:auto;
  transition: all 0.5s ease;
}

#logo.scrolled {
  position: fixed;
  left: 50%;
  top:15px;
  width: 130px;
  z-index:810;
  transform: translateX(-50%);
}
/* După animație, adaugă această clasă din JavaScript */
#vanta-wrapper {
  position: relative;
  z-index: 800;
}
.section-title {
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    width:50vw;
    padding-bottom:15px;
    font-family: 'Futura', sans-serif;
    border-bottom:1px solid white;
}
