@media (max-width: 768px) {
  html {
  scroll-snap-type: y proximity;
  scroll-behavior: auto;
  /* `scroll-snap-points-y` is deprecated, remove it */
  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura', sans-serif;
}
html {
  background: url("../img/background.png")
}
body {
  margin: 0;
  background: url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  height: calc(210vh + 800px) !important;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12vh 8%;
  gap: 3rem;
  height: 100vh;
  flex-direction: row-reverse;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin-left: 0; /* Remove negative margin on mobile */
}
#despre {
  scroll-snap-align: start;
}
#descriere {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.descriere-about-me {
  align-items:center;
  border-radius: 2rem;
  overflow: hidden;
  width: 50%;
  min-width: 300px;
  margin-right:0;
}

#logo {
  position: absolute;
  width: 20rem;
  top: 13%;
  left:0;
  right:0;
  margin:auto;
  text-align: center;
}

#logo.scrolled {
  z-index: 1000;
  position: absolute;
  width: 20rem;
  margin:auto;
  left:0;
  right:0;
  top: 13%;
  transform: none;
  text-align: center;
}
.section-title {
  padding-top:10%;
    font-size: 1rem;
}

}
