#buy_beats {
    height: 700px;
    width: 80%;
    display: flex;
    justify-content: center;
    justify-self:center;
    margin-left:2%;
}
@media (min-width: 1500px) {
    #buy_beats iframe {
        height: 700px;
    }
}