@media (max-width: 768px) {
  header {
    width:100%;
    top:25px;
    gap:2px;
    margin-bottom:5%;
  }
  .top-header {
    background-color: transparent;
    flex-direction: row;
    justify-content: center;
  }

  .bottom-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav a {
    font-size: 0.8rem;
  }
  .lang-switcher button {
    font-size: 0.7rem;
  }
  .bottom-nav {
    position: sticky;
    top:0px;
    right:0;
    width: 100%;
    background-color: transparent; /* sau altă culoare */
    z-index: 2000;
    padding: 10px 0;

  }

  header {
    background-color: transparent;
    position: relative;
  }

  .top-header {
    position: static; /* sau absolute dacă vrei să o ascunzi în scroll */
  }

}
