header {
    position: fixed;
    top:15px;
    z-index: 1020;
    background-color: transparent;
    color: #F7EFE8;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
  }
  
header h1 {
    margin: 0;
    font-size: 24px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav a {
    color: #F7EFE8;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    padding:8px 15px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #F7EFE8;
    color:#222;
    cursor:pointer;
  }
.lang-switcher {
    display: inline-block;
    margin-right: 20px;
}

.lang {
    background: none;
    border: none;
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

.lang.active {
    text-decoration: underline;
}
.burger {
  display: none;
  background: none;
  border: none;
  color: #F7EFE8;
  font-size: 30px;
  cursor: pointer;
}
.desktop-lang {
  display: inline-block;
}

.mobile-lang {
  display: none;
}