@media (max-width: 768px) {
  .services {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: -5%;
    margin-left:2%;
  }

  .card {
    height: auto;
    padding: 15px;
  }

  .card_title {
    height: auto;
    flex-direction: row;
    align-items: center;
    margin-bottom:20px;
  }

  .card_title h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.8rem;
    line-height: 1.7;
  }

  .service_icon {
    width: 30px;
    height: 30px;
    margin-top: 0;
  }
}